.profile {
    width: 1200px;
    margin: auto;
    display: flex; /* Flexbox düzeni */
    justify-content: space-between; /* Aralarındaki boşluğu eşit dağıt */
}

.profile-info, .profile-set {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.profile-info {
    width: 300px;
    height: 900px;
}

.profile-set {
    width: 850px;
    height: 900px;
    margin: auto;
}

img {
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 5px;
    width: 150px;
}
.profile-set-general{
    margin-top: 60px;
}

.profile-info-set{
    background-color: aquamarine;
    height:250px;
    margin-bottom: 10px;
    border-style: dashed;
    border: #6b2828;

}

.profile-contact-set{
    background-color: bisque;
    height:250px;
    margin-bottom: 10px;
}

.profile-address-set{
    background-color: black;
    height: 250px;
    margin-bottom: 10px;
}